/* src/App.css */
.App {
  background-color: #eef2f7;
  width: 100%;
  height: 100%;
  padding-top: 1%;
  padding-bottom: 1.75%;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  margin-left: 25%;
}

.inputDiv {
  display: flex;
  align-items: center;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  padding: 10px;
  margin-left: 25%;
  background-color: #f8f9fb;
}

.input-Div-Field {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  /* background-color: #f8f9fb;
  width: 95%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 20px; */
}

button {
  padding: 5px 10px;
  background-color: transparent;
  color: #6590ff;
  border: none;
  cursor: pointer;
}

/* button:hover {
  background-color: #0056b3;
} */

@media (max-width: 768px) {
  .inputDiv {
    width: 80%; /* Adjust the width for tablets */
    margin-left: 10%; /* Adjust the left margin for tablets */
  }

  h1 {
    font-size: 20px; /* Adjust the font size for tablets */
    margin-left: 10%; /* Adjust the left margin for tablets */
  }

  /* Mobile Styles */
  @media (max-width: 480px) {
    .inputDiv {
      width: 90%; /* Adjust the width for mobile screens */
      margin-left: 5%; /* Adjust the left margin for mobile screens */
    }

    h1 {
      font-size: 18px; /* Adjust the font size for mobile screens */
      margin-left: 5%; /* Adjust the left margin for mobile screens */
    }
  }
}
